.btn {
  padding: 10px 20px;
  background: $point-color;
  border: none;
  border-radius: 30px;
  font-size: $body;
  color: $white;
  font-weight: 400;
  display: inline-block;
  transition: .2s;
  &:hover {
      background: $light-pink;
  }
}
