/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

ul,
li {
  padding: 0;
  list-style: none;
}

body {
   background-color: $sky-blue;
   background-image: url(../images/background-grass.png);
   background-size: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: bottom -1px center;
}


.inner {
  width: 90%;
  margin: auto;
}

/* 링크 기본 스타일 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 제목, 문단 등 기본 마진/패딩 제거 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  margin: 0;
  padding: 0;
}

/* 버튼 커서 포인터 */
button {
  all: unset;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}


/* input 기본 테두리 제거 */
input {
  border: none;
  outline: none;
}