  body, button, input, textarea, select, a {
    font-family: $primary-kr, $primary-en;
    font-size: 16px;
    line-height: 1.5;
    color: $main-black;
    /* 필요하면 font-weight도 기본으로 지정 가능 */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $primary-kr, $primary-en;
    color: $main-black;  
  }

  
  p, li, blockquote {
    font-family: $primary-kr, $primary-en;
  }
  
  a {
    font-family: $primary-kr, $primary-en;
  }
  
  button {
    font-family: $primary-kr, $primary-en;
  }
  
  input, textarea, select {
    font-family: $primary-kr, $primary-en;
  }
  